.buy-now-container {
  position: relative;
  display: flex;
  top: 0;
  left: 0;
  height:max-content;
  background-color: rgba(0, 0, 0, 1);
  height: fit-content;
  width: 100vw;
  }

  #video-container {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit:contain;
    width: 100%    !important;
    height: 100%   !important;
  }

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%    !important;
  height: 100%   !important;  
  z-index: 1;
  top: 0;
}

.buy-now-content-container {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  position: absolute;
  z-index: 2;
  top: 15%;
  width: 100%;
  /* text-align: center; */
  flex-flow: row wrap;
}

.buy-left-section {
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-grow: 3;
  align-items: center;
  justify-content: center;
}

.buy-now-punch-line {
  display: flex;
  flex-direction: column;
  /* margin: 10px 40px; */
  font-weight: inherit;
  font-size: 1em;
  font-family: "Poppins", Sans-serif;
  align-items: center;
}

h1 {
  font-weight: bold;
}

h3 {
  font-weight: lighter;
}

.contract-info {
  margin-top: 30px;
  font-size: 18px;
}

.marketing-img {
  width: 500px;
  height: 120px;
}

.huge-marketing-title { 
  font-size: 1em;
}

.buy-action-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.flooz-container {
  margin: 10px;
  flex-grow: 1;
}

@media only screen and (max-width: 900px) {

  .buy-now-content-container {
    justify-content: center;
  }

  .buy-now-punch-line {
    margin: 60px 10px;
    margin-top: 30px;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contract-info {
    font-size: 0.8em;
  }

  .buy-now-container {
    height: 1400px;
  }

  .marketing-img {
    width: 300px;
    height: 100px;
  }

  .flooz-container {
    margin: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
