.team {
  display: flex;
  color: #ffffff;
  flex-direction: column;
  background-image: var(--background-gradient),url('./../../../assets/images/teambg.jpg');
  padding: 0px 10px 0px 10px;
  padding-bottom: 50px;
  height: fit-content;
  background-size:contain; 
}

.team-container {
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0px 10px;
}

.marketing {
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 20px;
}

.team-card-container {
  margin-top: 20px;
}

.team-card {
  display: flex;
  width: 300px;
  min-height: 400px;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.market-card {
  width: 100%;
}

.team-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.team-title {
  width: 100%;
  padding: 5px 0px;
  font-size: 20px;
  font-weight: bold;
}

.team-email {
  border: 0.5px solid #fff;
  background-color: #ffffff;
  color: #000000;
  margin-bottom: 5px;
  padding: 0px 5px;
}

.team-desc {
  text-align: center;
  padding: 4px;
  font-size: 14px;
}

.open-team-position {
  padding: 0pc 30px;
}

@media only screen and (max-width: 900px) {

  .marketing {
    flex-flow: column nowrap;
  }
}