.whatisthis {
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  /* position: relative; */
  padding-bottom: 80px;
  background-image: url('./../../../assets/images/Background.png');
  width: 100%;
  height: fit-content;
}

.right-side {
  position: relative;
  color: #ffffff;
  font-size:xx-large;
  line-height: 40px;
  flex-grow: 2;
  margin-left: 80px;
  font-family: 'Roboto Mono', monospace;
  margin: 50px 15px;

}

.left-side {
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.moving-image {
  position: relative;
  /* animation: mymove 4s infinite ease-in-out; */
  background-color: transparent;
  z-index: 1;
}

.banner-image {
  width: 300px;
  height: 500px;
  z-index: 1;
}

.title-text {
  margin: 0px;
  margin-top: 50px;
}

.sub-title-text {
  margin-top: 30px;
  font-size: 30px;
  line-height: 20px;
}

.sub-text {
  font-size: 15px;
  line-height: 20px;
}

.market-data-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  text-align: center;
  font-size: 16px;
  flex-direction: column;
}

.market-data-title {
  width: 100%;
  text-align: left;
  font-size: 20px;
}

.mak-data-unit {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.madata-header {
  border: 1px solid #fff;
  flex-grow: 1;
  font-weight: 900;
  width: 350px;
}

.madata-data {
  border: 1px solid #fff;
  flex-grow: 1;
  font-weight: inherit;
  width: 350px;
}

.market-data-disc {
  font-size: 12px;
  text-align: left;
  line-height:12px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  overflow-wrap: break-word;
  width: fit-content;
}

@keyframes mymove {
  0%   {transform:rotateY(0deg); transform-style: flat;}
  50% {transform:rotateY(180deg); transform-style: flat}
  100% {transform:rotateY(0deg); transform-style: flat}
}

@media only screen and (max-width: 900px) {

  .left-side {
    margin-left: 0px;
  }

  .right-side {
    /* margin-left: 0px; */
    margin-top: 0px;
  }

  .title-text {
    font-size: 40px;
    font-weight: 900;
  }

  .sub-title-text {
    font-size: 28px;
    font-weight: 600;
  }

  .sub-text {
    font-size: 15px;
    text-align: left;
    margin-left:15px;
  }

  .moving-image {
    z-index: 1;
  }
}