.navbar-container {
  min-height: 8vmin;
  background-color: blur(8px);
  backdrop-filter: blur(5px);
  align-items: center;
  justify-content: space-between;
  display: flex;
  font-size: calc(10px + 2vmin);
  background-color: rgba(0,0,0,0.1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}

.banner-logo {
  display: flex;
  z-index: 999;
  cursor: pointer;
  margin-left: 20px;
}

.nav-links {
  flex-direction: row;
  display: flex;
  font-size: 15px;
  color: #ffffff;
  font-family: 'Roboto Mono', monospace;
  margin-right: 30px;
}

li {
  padding: 0;
  margin: 0;
  display: inline;
  justify-content: space-between;
  border: solid 1px transparent;
  border-right: 1px solid rgba(255,255,255,0.4);
  padding: 10px;
  transition: border 0.2s;
}

li:last-child {
  border-right: 1px solid transparent;
}

li:hover {
  scale: 1.05;
  border: solid 1px white;
  cursor: pointer;
}

.nav-button {
  margin-right: 20px;
}

.nav-buttons {
  padding: 8px;
  padding-bottom: 0px;
  border-radius: 18px;
  position: relative;
}

.menu-button {
  display: none;
}

@media only screen and (max-width: 900px) {
  .navbar-container {
    min-height: 12vmin;
  }

  .menu-button {
    display: flex;
  }

  .nav-links {
    display: none;
  }

  .nav-buttons {
    margin: 0px 30px;
  }
}

